ClienteServicio/Service References/WCFTransporte/WCFTransporte1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="modeloTransporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parametros" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modeloTransporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modeloTransporteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>